.form{
    border: 1px solid black;
    border-radius:  5pt;
    background-color: rgba(120, 145, 255, 0.786);
    margin: 5px;
    padding: 5px;
    max-width: 500px;
    min-width: 200px;
    flex: 1 1 200px;
    transition: 1s; 
}
.flex{
    display: flex;
    flex-wrap: wrap;
}
.form:hover{
    background-color: rgba(7, 109, 211, 0.611);
    flex: 1 1 300px;
    transform: 1s;
}